{
	email ${SATAT_EMAIL}
}

${SATAT_DOMAIN} {
	encode gzip

	handle /v1/* {
		reverse_proxy litellm:4000
	}

	redir /canvas /canvas/ 308

	handle /canvas/* {
		reverse_proxy canvas:8000
	}

	handle /api/* {
		reverse_proxy canvas:8000
	}

	handle /sockets/* {
		reverse_proxy canvas:8000
	}

	handle /ntfy/* {
		reverse_proxy ntfy:8080
	}

	handle {
		respond "Satat" 200
	}
}
